@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
body{
    margin-top: 0;
    padding-top: 800px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background: linear-gradient(217deg, orange, rgba(255,0,0,0) 70%),
            linear-gradient(127deg, lightgreen, rgba(0,0,255,0) 70.71%);
}
.coding{
    margin-bottom: 50px;
    width: 140px;
    border-radius: 50%;
}
.parallax-inner{
    text-align: center;
    display: table-cell;
    position: relative;
    vertical-align: middle;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}
.parallax-container{
    margin-top: -80px;
}
#welcome{
    
    position: absolute;
    height: 1100px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.83;
    display: table;
    width: 100%;
    z-index: 9;
}
.line{
    height: 5px;
    width: 70px;
    background: #000;
    margin: 8px auto;
}